<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">                          
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Formulario Calculadora</h1>
    
    <form action="/menu" method="post">
        <p>
            <label>Número 1:</label>
            <input type="number" name="numero1" step="any" required placeholder="Ej. 5">
        </p>
        <p>
            <label>Número 2:</label>
            <input type="number" name="numero2" step="any" required placeholder="Ej. 2">
        </p>
        <button type="submit">Enviar y Calcular</button>
    </form>

    <br>
    <a href="/">← Regresar al Menú Principal</a>
</body>
</html>